h1, h2, h3 { /*center, size and apply font to headings*/
  text-align: center;
  font-family: "comic sans ms", "arial";
  font-size: 27px;
}
.intro, .aboutme { /*creates a colored box around headings in the main element*/
  background-color: #d6ccc2;
  width: 210px;
  margin: auto;
  /*border-radius: 50%;*/
  padding: 0px;
  padding-right: 10px;
}
header {
  margin-top: 15px;
}
.whoami, .contact { /* creates a colored box around the header and footer headings */
  background-color: #989090;
  width: 300px;
  margin: auto;
  /*border-radius: 50%;*/
  padding: 0px;
}
.contact {
  width: 515px;
}
header p { /* centers and applies font specifcally to content in header*/
  text-align: center;
  font-family: "arial", "serif";
}

img { /* styles the image background and rounds the corners of the border of the image*/
  border-radius: 35%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.image { /* aligns the image in the center via the div element */
text-align: center; 
}
main { /* indents and centers the content so that the words are not directly on the edge of the screen. Also changes the color of the background and size of the font */
  color: black;
  background-color: #989090;
  text-indent: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  padding-bottom: 15px;
  font-family: "times new roman", "arial";
}  
body { /* changes color of the background of the body */
  background-color: #d6ccc2;
}
.about { /* removes the indent style applied to the the rest of the content within the main element */
  text-indent: 0px;
}
.break-bottom, .break-top, hr { /* sizes and colors the div and hr element */
  height: 8px;
  background-color: black;
  margin: 0px;
  border: 0px;
}
.break-bottom { /* puts a margin underneath the bottom hr element so that there is a separation between the hr element and the footer element */
  margin-bottom: 20px;
}
/* makes the color of the links change depending on what the user does to the link */
a:link {color: blue;}
a:visited {color: purple;}
a:hover {color: red;}
a:active {color: green;}
